<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="landing-page--container">
        <h1 class="landing-page--title">Keep track of your financial transactions</h1>
        <h2 class="landing-page--subtitle"> ...account for every penny </h2>
        <img class="landing-page--img" src="https://i.ibb.co/VBy0prM/revenue-1704073.png">
      </div>
    </div>
  </div>
</div>
