<div class="modal-display--dialog">
  <div class="modal-display--content">
    <div class="modal-display--header">
      <h5 class="modal-display--title" id="exampleModalLongTitle"> <%= modal_title %> </h5>
      <span class="close modal-display--close-icon" aria-label="Close">&times;</span>
    </div>
    <div class="modal-display--body">
      <%= content %>
    </div>
  </div>
</div>
