$white: #FFF;
$black: #000;

$maya-blue: #73C2FB;
$azure-blue: #0080FF;
$egyptian-blue: #1034A6;

$gray1: #808080;
$light-gray1: #D3D3D3;

$hibiscus-red: #B43757;
$vermilion-red: #7E191B;
$egyptian-blue: #1034a6;
