$white: #FFF;
$black: #000;

$blue-1: #1034a6;
$blue-2: #73C2FB;
$blue-3: #0080FF;
$blue-4: #05386b;

$gray-1: #808080;
$gray-2: #D3D3D3;

$red-1: #B43757;
$red-2: #7E191B;
$red-3: #721c24;
$red-4: #f8d7da;
$red-5: #f5c6cb;

$green-1: #3aafa9;
$green-2: #2b7a78;
$green-3: #043927;
$green-4: #0c5460;
$green-5: #d1ecf1;
$green-6: #bee5eb;

$dark-1:  #17252a;


$silver-1: #999999;
