<div class="row">
  <div class="col col-md-8 offset-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"> <%= link_to 'Home', root_path  %> </li>
        <li class="breadcrumb-item active" aria-current="expenses list page"> Documents </li>
      </ol>
    </nav>
  </div>

  <div class="col col-md-3">
    <button class="incomes--new-income-link btn btn-success modal-pop--trigger"> New Document </button>
    <%= modal(options: { modal_title: 'New Document' }, html_options: { class: "modal-display" }) do %>
      <%= render 'form', document: @document %>
    <% end %>
  </div>
</div>

<hr>

<div class="documents">
  <%= render 'documents_folder', documents: @documents %>
</div>
