@import "shared/mixins";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Comic+Neue:wght@300&family=Gotu&family=Open+Sans+Condensed&display=swap');

// HEADER NAVIGATION
.navbar {
  box-shadow: 0 0 20px $maya-blue;
  -webkit-box-shadow: 0 0 20px $maya-blue;
  -moz-box-shadow: 0 0 20px $maya-blue;
  position: fixed;
  width: 100%;
  z-index: 999;

  @include respond-to('xlarge') { 
    padding: ($global-padding * 0.7) ($global-padding * 10);
  };

  @include respond-to('large') { 
    padding: ($global-padding * 0.7) ($global-padding * 2);
  };
}

.navbar__menu-bar {
  font-size: $global-font * 1.9;
  font-family: 'Lobster';
  cursor: pointer;
}

.navbar__auth {
  margin-right: $global-margin * 2;
  font-family: 'Lobster';
  font-size: $global-font * 1.2;
}

.navbar__auth-login {
  color: $azure-blue;

  &:hover {
    color: $egyptian-blue;
    text-decoration: none;
  }
}

.navbar__auth-signup {
  color: $white;
  background-color: $hibiscus-red;
  border-radius: $global-padding * 0.3;
  padding: ($global-padding * 0.4) $global-padding;

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: $vermilion-red;
  }
}

.navbar__brand-text {
  margin-left: $global-margin * 2;
  font-size: $global-font * 1.7;
  color: $hibiscus-red;
  font-family: 'Comic Neue';

  &:hover {
    color: $vermilion-red;
    text-decoration: none;
  }
  &:visited {
    color: $vermilion-red;
  }
}

.navbar__user-name {
  font-size: $global-font * 1.2;
  font-family: 'Lobster';
  font-style: italic;
  color: $gray1;
}

// SIDE-BAR NAVIGATION
.side-bar__container {
  background: $hibiscus-red;
  width: 15%;
  position: fixed;
  margin-right: 30px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: none;
  height: calc(100vh - 120px);
  border-radius: $global-padding * 0.2;

  .side-bar__user-details-summary {
    padding: $global-padding ($global-padding * 1.5);
    color: $white;

    img {
      width: 50%;
      border-radius: 50%;
    }

    .side__bar-user-profile-link-container {
      margin-top: $global-margin * 0.5;

      a {
        color: $white;
        font-style: italic;
      }
    }
  }

  .side-bar__menu-list-container {
    ul {
      li {
        background-color: $hibiscus-red;

        &:hover {
          cursor: pointer;
          background-color: $vermilion-red;
        }
      }
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

// AUTHENTICATION
.auth--container {
  padding: $global-padding;
  margin: ($global-margin * 2) 0;
  box-shadow: 0 0 5px $light-gray1;
  -webkit-box-shadow: 0 0 5px $light-gray1;
  -moz-box-shadow: 0 0 5px $light-gray1;
  border-radius: $global-padding * 0.1;

  .auth--text {
    margin: ($global-margin * 2) 0 ($global-margin * 5);
    font-size: $global-font * 2;
    font-weight: lighter;
    color: $gray1;
  }

  .row {
    margin-bottom: $global-margin * 2;
  }

  .auth--error-message {
    color: $hibiscus-red;
    float: left;
    font-size: $global-font * 0.9;
  }
}

.auth--button {
  width: 100%;
  color: $white;
  background-color: $hibiscus-red;

  &:hover {
    color: $white;
    background-color: $vermilion-red;
  }
}

.auth--alternative {
  border-top: 1px solid $gray1;
  color: $gray1;
  opacity: 0.75;

  &:after {
    content: "or";
    position: relative;
    top: $global-padding * -0.9;
    font-size: $global-padding * 1.1;
    padding: 0 ($global-padding * 0.7);
    background: white;
  }
}

.auth--social-auth-link {
  box-shadow: 0 0 5px $light-gray1;
  border-radius: $global-padding * 0.2;
  width: 100%;
  padding: $global-padding * 0.6;

  .auth--social-auth-icon {
    width: $global-padding * 1.8;
    padding-right: $global-padding * 0.4;
  }

  span {
    color: $gray1;
    font-size: $global-font * 0.8;
  }
}
