<div class="income-section">
  <div class="row">
    <div class="col col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <%= link_to 'Home', root_path  %> </li>
          <li class="breadcrumb-item"> <%= link_to 'Expenses', expenses_path  %> </li>
          <li class="breadcrumb-item active" aria-current="new expense page"> New </li>
        </ol>
      </nav>
    </div>

    <div class="col col-md-3">
      <%= link_to(expenses_path, class: 'incomes--new-income-link btn btn-success') do %>
        <i class="fa fa-arrow-left"></i> Back
      <% end %>
    </div>
  </div>

  <%= render 'form', expense: @expense, form_title: 'New Expense' %>
</div>
