<nav class="navbar">
  <div>
    <% if current_user %>
      <span class="navbar--menu-bar"> <i class="fa fa-bars"></i> <span>
    <% end %>
    <%= link_to raw('Expense Traka'), root_path, class: 'navbar--brand-text' %>
  </div>
  <div>
    <% if current_user %>
      <span class="navbar--user-name"> <%= "Hello, #{current_user.first_name}!" %> </span>
    <% else %>
      <%= link_to('Login', new_user_session_path, class: 'navbar--auth navbar--auth--login') %>
      <%= link_to('Sign Up', new_user_registration_path, class: 'navbar--auth navbar--auth--signup') %>
    <% end %>
  </div>
</nav>
<br> <br> <br> <br>
