<nav class="navbar navbar-light bg-light">
  <div>
    <span class="navbar__menu-bar"> <i class="fa fa-bars"></i> <span>
    <%= link_to raw('Expense <span> Traka </span>'), root_path, class: 'navbar__brand-text' %>
  </div>
  <div>
    <% if false %>
      <span class="navbar__user-name"> Hello, Emeka! </span>
    <% else %>
      <%= link_to('Login', 'liftopia.com', class: 'navbar__auth navbar__auth-login') %>
      <%= link_to('Sign Up', 'liftopia.com', class: 'navbar__auth navbar__auth-signup') %>
    <% end %>
  </div>
</nav>
<br> <br> <br> <br>
